body {
  margin: 0;
  font-family: garamond, georgia, "times new roman";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/RamariaMap.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* border: 2px black dashed; */
}

